.blog-preview{
    border-bottom: 1px solid #fafafa;
    padding: 10px 16px;
    margin: 20px 0;
}

.blog-preview h2{
    font-size: 20px;
    margin-bottom: 8px;
}

.blog-preview:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview button{
    border-radius: 2px;
    border:0px;
    padding: 10px;
    background-color: beige;
}

.blog-preview button:hover{
    background-color: red;
    border: 1px solid;
}

.blog-preview a{
    text-decoration: none;
}

